/*  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
      margin: auto;
      font-family: "open sans",sans-serif;
      color: gray;
      animation: fadein ease 2s;

}
header {
     background: #6a040f;
     text-align: center;
     padding: 5px;

}

header h1 {
    color: #ffffff;
    
}

#profile {
    position: relative;
    margin-top: 50px;
    width: 120px;
    border-radius: 80%;
}

#profile:hover {
    animation: scale ease 1s;
}

#links  a:link{
    padding: 10px;
}

a {
    color: #6a040f;
}
.link {
    font-size: 30px;
}

#content {
    padding: 0 20px;
    text-align: center;
    max-width: 900px;
    margin: auto;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #6a040f;
    width: 100%;
    text-align: center;
    color: #fff;

}

@keyframes fadein {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
 
}

@keyframes scale {
    to {
        transform: scale(1.2);
    }
}